body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    overflow: hidden;
}

.bg-black {
    background-color: #1f1f1f;
}

.login-wrapper {
    justify-content: center;
    align-items: center;
}

.login-container {
    justify-content: center;
    background: #202020;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #5a5a5a;
    background-color: #1f1f1f;
    color: #eee;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #911313;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login-container button:hover {
    background-color: #c44b4b;
}

.login-container a {
    display: block;
    margin-top: 3rem;
    text-align: center;
    color: #636363;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container img {
    width: 300px;
    margin-bottom: 1rem;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.success {
    color: green;
}

.error {
    color: red;
}

.history-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-item {
    display: block;
    margin: 5px 0;
}

.logout-button {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    color: #eee;
    background-color: #383838;
}

.chara-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #911313;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.chara-button:hover {
    color: #eee;
    background-color: #af3434;
}

.bg-chara:hover {
    background-color: #222222;
}

.w-100px {
    width: 100px;
}

.h-100px {
    height: 100px;
}

.rounded-full {
    border-radius: 50%;
}

.mr-2 {
    margin-right: 0.5rem;
    /* 8px */
}

.block {
    display: block !important;
}

pre,
code {
    white-space: pre-wrap !important;
    /* Atau 'normal' */
    word-wrap: break-word !important;
    max-width: 500px !important;
    /* Ini buat ngatur kata yang panjang */
}

/* Utility classes */
.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.overflow-y-auto {
    overflow-y: auto;
}

.bg-gray-200 {
    background-color: #d8d8d8;
    /* Light gray color */
}

.p-4 {
    padding: 1rem;
    /* 16px */
}

.bg-chat {
    background-color: #1f1f1f;
    /* Light gray background */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mb-2 {
    margin-bottom: 0.5rem;
    /* 8px */
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.w-50px {
    width: 50px;
}

.h-50px {
    height: 50px;
}

.inline-block {
    display: inline-block;
}

.p-2 {
    padding: 0.5rem;
    /* 8px */
}

.rounded-lg {
    border-radius: 0.5rem;
    /* 8px */
}

.bg-blue-500 {
    background-color: #3b82f6;
    /* Blue */
}

.bg-blue-300 {
    background-color: #13366e;
    /* Blue */
}

.text-white {
    color: white;
}

.bg-gray-300 {
    background-color: #d1d5db;
    /* Light gray */
}

.bg-gray-800 {
    background-color: #1f2937;
    /* Dark gray */
}

.mt-2 {
    margin-top: 0.5rem;
    /* 8px */
}

.me-2 {
    margin-right: 0.5rem;
    /* 8px */
}

.mt-5 {
    margin-top: 3rem;
    /* 8px */
}

.px-2 {
    padding-left: 0.5rem;
    /* 8px */
    padding-right: 0.5rem;
    /* 8px */
}

.py-1 {
    padding-top: 0.25rem;
    /* 4px */
    padding-bottom: 0.25rem;
    /* 4px */
}

.text-grey {
    color: #555;
}

.bg-white {
    background-color: white;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.items-center {
    align-items: center;
}

.border {
    border-width: 1px;
}

.border-gray-300 {
    border-color: #696969;
}

.focus\:outline-none {
    outline: none;
}

.focus\:ring-2 {
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.focus\:ring-blue-500 {
    box-shadow: 0 0 0 2px #243a5e;
}

.resize-none {
    resize: none;
}

.h-12 {
    height: 3rem;
    /* 48px */
}

.ml-2 {
    margin-left: 0.5rem;
    /* 8px */
}

.hover\:bg-blue-600:hover {
    background-color: #2563eb;
}

.hover\:bg-blue-300:hover {
    background-color: #1f4494;
}

.rounded {
    border-radius: 0.25rem;
    /* 4px */
}

.h-4 {
    height: 1rem;
    /* 16px */
}

.w-4 {
    width: 1rem;
    /* 16px */
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
}

.min-w-150px {
    min-width: 150px;
}

.min-w-100px {
    min-width: 100px;
}

.text-red-600 {
    color: #9e2229;
    /* Red color */
}

.text-blue-600 {
    color: #3c4bd3;
    /* Red color */
}

.text-gray-100 {
    color: #dfdfdf;
    /* Gray color */
}

.text-gray-400 {
    color: #88909c;
    /* Gray color */
}

.text-gray-600 {
    color: #4b5563;
    /* Gray color */
}

.rounded-full {
    border-radius: 50%;
}

.mr-2 {
    margin-right: 0.5rem;
    /* 8px */
}

.p-1 {
    padding: 0.2rem;
    /* 8px */
}

.p-2 {
    padding: 0.5rem;
    /* 8px */
}

.text-left {
    text-align: left;
}

#messageInputContainer {
    box-sizing: border-box;
    width: 100%;
}

button {
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    /* Optional: if you want to remove the background as well */
}

button:active {
    transform: translateY(1px);
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.px-2 {
    padding-left: 0.5rem;
    /* 16px */
    padding-right: 0.5rem;
    /* 16px */
}

.py-1 {
    padding-top: 0.2rem;
    /* 8px */
    padding-bottom: 0.2rem;
    /* 8px */
}

.my-1 {
    margin-top: 0.5rem;
    /* 8px */
    margin-bottom: 0.5rem;
    /* 8px */
}

.w-full {
    width: 100%
}




.wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content {
    width: auto;
    /* Allow the message to take its natural width */
    max-width: 100%;
    font-size: 14px;
    overflow-y: auto;
    height: calc(100%);
    width: 100%;
    margin-bottom: 80px;
    overflow-wrap: break-word;
    /* Break long words */
    word-wrap: break-word;
    /* Adjust height as needed */
    /* Prevents the content from exceeding the width of the screen */
}

.message {
    width: auto;
    /* Allow the message to take its natural width */
    max-width: 80%;
    /* Limit the maximum width */
    padding: 1rem;
    box-sizing: border-box;
    color: #f1f1f1 !important;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    /* Break long words */
    word-wrap: break-word;
    /* For older browsers */
}

.loader {
    animation: rotate 2s linear infinite;
    width: 24px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    height: 24px;
    /* Agar bisa ditempatkan di atas tombol */
    transform: translate(-50%, -50%);
    /* Pusatkan loader */
}

.max-width-500 {
    max-width: 500px !important;
}

.path {
    stroke: #3498db;
    /* Warna loader */
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.hidden {
    display: none;
}

.bg-grey {
    background-color: #222222;
}

.bg-grey-700 {
    background-color: #252525;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

canvas {
    display: block;
}

.container {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    /* Pastikan tombol berada di atas canvas */
}

.trigger-button {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

#avatar-container {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 150px !important;
    height: 150px !important;
    z-index: 99999;
}

#avatar {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 150px !important;
    height: 150px !important;
    border: 3px solid #222;
    border-radius: 10px;
}

.h-12.p-2.flex.items-center.justify-center.bg-red-500.hover\:bg-red-600.text-white.rounded {
    height: 3rem;
    /* 48px */
    padding: 0.5rem;
    /* 8px */
    display: flex;
    /* Flexbox layout */
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    background-color: #f56565;
    /* Red background */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.h-12.p-2.flex.items-center.justify-center.bg-red-500.hover\:bg-red-600.text-white.rounded:hover {
    background-color: #c53030;
    /* Darker red on hover */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

.fixed-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
}

#audioControl {
    opacity: 0.7;
}

.file-open {
    display: flex;
    align-items: center;
}

.file-open .icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.fs-6 {
    font-size: 10px !important;
}